{% macro resource() %}
<link rel="preload" as="font" href="{{ get_url(path='files/jost-latin-400-normal.woff2') | safe }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ get_url(path='files/jost-latin-500-normal.woff2') | safe }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ get_url(path='files/jost-latin-700-normal.woff2') | safe }}" type="font/woff2" crossorigin>
{% endmacro %}

{% macro stylesheet() %}
<link rel="stylesheet" href="{{ get_url(path='main.css') | safe }}">
{% endmacro %}
