{%- import 'macros/social.html' as social -%}

{% macro header() %}

<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="{{ get_url(path='/') | safe }}">{{ config.title }}</a>

    {% if config.build_search_index %}
    <form class="de-c-search-form d-none d-lg-flex ms-auto me-3">
      <input id="searchInput" class="form-control" type="search" placeholder="Search docs"  aria-label="Search" autocomplete="off">
      <div id="suggestions" class="shadow bg-white rounded"></div>
    </form>
    {% endif %}

    <div class="d-none d-md-flex ms-auto ms-lg-0 me-4 me-lg-0">
      {{ social::icons() }}
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#rightSidebox" aria-controls="rightSidebox" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

{% endmacro %}
