{% macro javascript() %}
<script src='{{ get_url(path="/js/bootstrap.bundle.min.js", cachebust=true) | safe }}'></script>
{% if config.build_search_index %}
<script type="text/javascript" src="{{ get_url(path='elasticlunr.min.js', cachebust=true) | safe }}" defer></script>
<script type="text/javascript" src="{{ get_url(path='search_index.' ~ lang ~ '.js', cachebust=true) | safe }}" defer></script>
<script type="text/javascript" src="{{ get_url(path='js/search.js', cachebust=true) | safe }}" defer></script>
{% endif %}
{% endmacro %}

