{% macro main(page) %}
<meta name="description" content="{{ meta::description(page=page) }}">

<meta property="og:type" content="article" />
<meta property="og:site_name" content="{{ config.title }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:url" content="{{ get_url(path=page.path) | safe  }}">
<meta property="og:description" content="{{ meta::description(page=page) }}">
<meta property="og:author_name" content="Jens Reimann" />
<meta property="og:author_url" content="https://dentrassi.de" />

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@ctron" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ meta::description(page=page) }}">

{% if page.extra.article_image.src %}
<meta property="og:image" content="{{ meta::abs_url(page=page, url= page.extra.article_image.src) }}">

<meta name="twitter:image" content="{{ meta::abs_url(page=page, url=page.extra.article_image.src) }}">
<meta name="twitter:image:alt" content="{{ page.extra.article_image.alt }}">
{% endif %}

{%- if page.taxonomies['tags'] %}
  {%- for tag in page.taxonomies['tags'] %}
<meta property="article:tag" content="{{ tag }}" />
  {%- endfor -%}
{% endif -%}

{% endmacro %}

{% macro description(page) -%}
{% if page.description -%}
{{ page.description }}
{%- elif page.summary -%}
{{ page.summary | striptags }}
{%- endif %}
{%- endmacro description %}

{# generate absolute URL for image #}
{% macro abs_url(page, url) -%}
{% if ( url is starting_with("http://") ) or (url is starting_with("https://")) -%}
{{ url | safe }}
{%- elif url is starting_with("/") -%}
{{ get_url(path=url) | safe }}
{%- else -%}
{{ get_url(path=page.path ~ url) | safe }}
{%- endif %}
{%- endmacro abs_url %}
