
{% macro page_item(paginator,i) %}
<li class="page-item">
  <a
      href="{{ paginator.base_url}}{{i+1}}"
      class="page-link {% if paginator.current_index == i + 1 %}active{% endif %}" {% if paginator.current_index == i + 1 %}aria-current="page"{% endif %} aria-label="Page {{ i + 1 }}" aria-current="page">{{ i + 1}}</a>
</li>
{% endmacro %}

{% macro pagination(paginator) %}
<nav class="" role="navigation" aria-label="pagination">

  <ul class="pagination justify-content-center">
    <li class="page-item {% if not paginator.previous %}disabled{% endif %}">
      <a class="page-link" {% if paginator.previous %}href='{{ paginator.previous }}'{% else%}href=''{% endif %} aria-label="Previous">&laquo;</a>
    </li>


    {% if paginator.number_pagers > 10 %}

      {{ pagination::page_item(paginator=paginator,i=0) }}

      {% for i in range(start=1, end=paginator.number_pagers-1) %}
      {% if i % 5 == 4 or i + 1 == paginator.current_index %}
      {{ pagination::page_item(paginator=paginator,i=i) }}
      {% endif %}
      {% endfor %}

      {{ pagination::page_item(paginator=paginator,i=paginator.number_pagers-1) }}

    {% else %}

      {% for i in range(end=paginator.number_pagers) %}
        {{ pagination::page_item(paginator=paginator,i=i) }}
      {% endfor %}

    {% endif %}

    <li class="page-item {% if not paginator.next %}disabled{% endif %}">
      <a class="page-link" {% if paginator.next %}href='{{ paginator.next }}'{% else%}href=''{% endif %} aria-label="Next">&raquo;</a>
    </li>
  </ul>

</nav>
{% endmacro %}
