{% macro projects() %}
<div class="mb-4">

  <h2>Projects</h2>

  <ul class="list-unstyled">
    <li><a class="link-body-emphasis" target="_blank" href="https://github.com/patternfly-yew/patternfly-yew">PatternFly Yew</a></li>
    <li><a class="link-body-emphasis" target="_blank" href="https://github.com/ctron/yew-oauth2">Yew OAuth2</a></li>
    <li><a class="link-body-emphasis" target="_blank" href="https://github.com/ctron/rpm-builder">Maven RPM Builder</a></li>
    <li><a class="link-body-emphasis" target="_blank" href="https://www.drogue.io">Drogue IoT</a></li>
    <li><a class="link-body-emphasis" target="_blank" href="https://ctron.github.io/openshift-update-graph">OpenShift Update Graph</a></li>
    <li><a class="link-body-emphasis" target="_blank" href="https://www.eclipse.org/packages/">Eclipse IoT Packages</a></li>
  </ul>
</div>
{% endmacro %}

{% macro pages(skip_title=true) %}
<div class="mb-4">
  <h2>More</h2>

  <ul class="list-unstyled">
    {% set pages = get_section(path="pages/_index.md") %}
    {% for page in pages.pages %}
      <li><a class="link-body-emphasis" href="{{ page.path | safe }}">{{ page.title }}</a></li>
    {% endfor %}
    {% for section_name in pages.subsections %}
      {% set section = get_section(path=section_name) %}
      <li><a class="link-body-emphasis" href="{{ section.path | safe }}">{{ section.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endmacro %}

{% macro recent_posts(skip_action=false) %}
<div class="de-c-recent-posts mb-2">

  <h2 class="d-flex">
    <span>Recent Posts</span>
    {% if not skip_action %}
    <span class="de-c-title__action">
      <a href="{{ get_url(path='archive') | safe }}">Archive</a>
    </span>
    {% endif %}
  </h2>

  <ul class="list-unstyled">
    {% set all_content = get_section(path="_index.md") %}
    {% for post in all_content.pages | slice(end=5) %}
    <li><a class="link-body-emphasis" href="{{ post.path | safe }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

</div>
{% endmacro %}
