

.de-c-blockquote {
  padding: 1.5rem 2rem 1rem 2rem;

  background: $gray-100;
  border-left: solid $secondary-border-subtle 5px;

  cite {
    text-align: end;
  }

  figcaption p {
    margin: 0;
  }
}

blockquote {

  padding: 1.5rem 2rem 1rem 2rem;

  background: $gray-100;
  border-left: solid $secondary-border-subtle 5px;

  p {
    margin: 0;
  }
}

blockquote cite {
  padding-top: 0.5rem;
  text-align: right;
  display: block;
}
