.de-sidebox {

  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
  }

}

.de-post-info li.list-inline-item {
  margin-right: 0;
}

.de-post-info li + li:before {
  content: '·';
}

.de-layout > .row > aside {
  top: 120px;
}
