.de-sidebox {

  h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.5rem;
    border-bottom: $light-border-subtle solid 1px;
  }

  line-height: 1.2;

  ul li {
    padding-bottom: 0.5rem;
  }

  .de-c-title__action {
    text-transform: none;
    font-weight: normal;

    margin-left: auto;

    a {
      font-size: $font-size-base;
      color: $secondary;
      text-decoration: underline $secondary-border-subtle;
    }
  }

}

.de-sidebox.de-m-right {
  padding-left: 0.25rem;
}

.de-sidebox a {
  text-decoration: none;
}

.de-sidebox a.link-body-emphasis:hover {
  text-decoration: underline $secondary-border-subtle !important;
}

.de-sidebox li {
  padding-left: 1rem;
  text-indent: -1rem;
}
