{%- import 'macros/head.html' as head -%}
{%- import 'macros/javascript.html' as javascript -%}

{%- import 'macros/header.html' as header -%}
{%- import 'macros/footer.html' as footer -%}

<!doctype html>
<html lang="{{ config.extra.language_code | default(value='en-US') }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ head::resource() }}
  {{ head::stylesheet() }}

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  {% if config.generate_feed %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=config.feed_filename, trailing_slash=false) | safe  }}">
  {% endif %}

</head>

<body data-bs-spy="scroll" data-bs-target="#toc">
  {% block header %}
    {{ header::header(current_section="/") }}
  {% endblock header %}

    <div class="de-layout container">

      <aside class="de-layout__left">
        {% block leftside %}
        <div class="de-sidebox">
          <h3>Projects</h3>
          <ul class="list-unstyled">
            <li><a class="link-body-emphasis" href="">PatternFly Yew</a></li>
            <li><a class="link-body-emphasis" href="">Yew OAuth2</a></li>
            <li><a class="link-body-emphasis" href="">Maven RPM Builder</a></li>
            <li><a class="link-body-emphasis" href="">Drogue IoT</a></li>
            <li><a class="link-body-emphasis" href="">Eclipse IoT Packages</a></li>
          </ul>
        </div>
        {% endblock leftside %}
      </aside>

      <main class="de-layout__main">
        {% block content %}{% endblock content %}
      </main>

      <aside class="de-layout__right">
        {% block rightside %}{% endblock rightside %}
      </aside>
    </div>

  {% block footer %}
    {{ footer::footer() }}
  {% endblock footer %}

  {{ javascript::javascript() }}
</body>

</html>
