{%- import 'macros/head.html' as head -%}
{%- import 'macros/javascript.html' as javascript -%}

{%- import 'macros/header.html' as header -%}
{%- import 'macros/footer.html' as footer -%}

<!doctype html>
<html lang="{{ config.extra.language_code | default(value='en-US') }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ head::resource() }}
  {{ head::stylesheet() }}

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  {% if config.generate_feed %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=config.feed_filename, trailing_slash=false) | safe  }}">
  {% endif %}

</head>

<body data-bs-spy="scroll" data-bs-target="#toc">
  {% block header %}
    {{ header::header(current_section="/") }}
  {% endblock header %}

    <div class="de-layout container pt-3">

      <div class="row d-flex align-items-start">
        <aside class="col-2 sticky-top">
          {% block leftside %}
          <div class="de-sidebox">
            <h3>Projects</h3>
            <ul class="list-unstyled">
              <li><a class="link-body-emphasis" href="">PatternFly Yew</a></li>
              <li><a class="link-body-emphasis" href="">Yew OAuth2</a></li>
              <li><a class="link-body-emphasis" href="">Maven RPM Builder</a></li>
              <li><a class="link-body-emphasis" href="">Drogue IoT</a></li>
              <li><a class="link-body-emphasis" href="">Eclipse IoT Packages</a></li>
            </ul>
          </div>
          {% endblock leftside %}
        </aside>

        <main class="col-7">
          {% block content %}{% endblock content %}
        </main>

        <aside class="col-3 sticky-top">
          {% block rightside %}
          <div class="de-sidebox">
            <h3>Recent Posts</h3>
            <ul class="list-unstyled">
              {% set all_content = get_section(path="_index.md") %}
              {% for post in all_content.pages | slice(end=5) %}
              <li class="text-truncate"><a class="link-body-emphasis" href="{{ post.permalink }}" title="{{ post.title }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endblock rightside %}
        </aside>

      </div>
    </div>

  {% block footer %}
    {{ footer::footer() }}
  {% endblock footer %}

  {{ javascript::javascript() }}
</body>

</html>
