{%- import 'macros/head.html' as head -%}
{%- import 'macros/javascript.html' as javascript -%}
{%- import 'macros/header.html' as header -%}
{%- import 'macros/footer.html' as footer -%}
{%- import 'macros/side.html' as side -%}
{%- import 'macros/taxonomies.html' as taxonomies -%}

<!doctype html>
<html lang="{{ config.extra.language_code | default(value='en-US') }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ head::resource() }}
  {{ head::stylesheet() }}
  {{ head::matomo() }}

  {% block head %}
  <meta name="description" content="{{ config.description }}">
  {% endblock head %}

  <title>{% block title %}{{ config.title }} – {{ config.description}}{% endblock title %}</title>

  {% if config.generate_feed %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=config.feed_filename, trailing_slash=false) | safe  }}">
  {% endif %}

</head>

<body data-bs-spy="scroll" data-bs-target="#toc" tabindex="0">

{% block header %}
{{ header::header(current_section="/") }}
{% endblock header %}

    <div class="de-layout container">

      <div class="row d-flex align-items-start">

        <aside class="col-lg-2 order-last order-lg-0 sticky-lg-top mt-4 mt-lg-5">
          <div class="de-sidebox de-m-left">
          {% block leftside %}
            {{ side::pages() }}
            {{ side::projects() }}
          {% endblock leftside %}
          </div>
        </aside>

        <main class="col-12 col-lg-7 px-lg-5 mt-3 mt-lg-4">
          {% block content %}{% endblock content %}
        </main>

        <aside class="col-lg-3 order-first order-lg-0 sticky-top mt-lg-5 de-m-collapsible">
          <div class="de-sidebox de-m-right collapse d-lg-block" id="rightSidebox">

            <div class="d-flex d-md-none pb-3">
              {{ social::icons() }}
            </div>

          {% block rightside %}
            {{ side::recent_posts() }}
            {{ taxonomies::all_categories() }}
          {% endblock rightside %}
          </div>
        </aside>

      </div>
    </div>

  {% block footer %}
    {{ footer::footer() }}
  {% endblock footer %}

  {{ javascript::javascript() }}
</body>

</html>
