{%- import 'macros/post.html' as post -%}
{%- import 'macros/pagination.html' as pagination -%}

{% extends "base.html" %}

{% block content %}

{% for page in paginator.pages %}
  <section class="de-c-post-info" itemscope itemtype="http://schema.org/BlogPosting">
    <h2 class="de-c-post-info__title">
      <a class="link-body-emphasis link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ page.path | safe }}" itemprop="headline">{{ page.title }}</a>
    </h2>

    <div class="de-c-post-info__summary" itemprop="articleSummary">
      {{ page.summary | safe }}
    </div>

    <div>
      <hr />
      {{ post::info(page=page, more=true) }}
    </div>
  </section>
{% endfor %}

  {{ pagination::pagination(paginator=paginator) }}

{% endblock content %}

