{%- import 'macros/post.html' as post -%}
{%- import 'macros/pagination.html' as pagination -%}

{% extends "base.html" %}

{% block head %}
<meta name="description" content="{{ config.description }}">
<script>
    let pagination = {};
    {%- if paginator.previous %}
    pagination.prev = "{{ paginator.previous | safe }}";
    {%- endif %}
    {%- if paginator.next %}
    pagination.next = "{{ paginator.next | safe }}";
    {%- endif %}

</script>
{% endblock head %}

{% block content %}

{% for page in paginator.pages %}
  <section class="de-c-post-info" itemscope itemtype="http://schema.org/BlogPosting">
    <h2 class="de-c-post-info__title">
      <a class="link-body-emphasis link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ page.path | safe }}">
        <span itemprop="headline">{{ page.title }}</span>
      </a>
    </h2>

    <div class="de-c-post-info__summary clearfix" itemprop="articleSummary">
      {% if page.extra.article_image.src %}
      <img class="de-c-article-image" itemprop="image" src="{{ get_url(path=page.extra.article_image.src) | safe }}" alt="{{ page.extra.article_image.alt }}">
      {%  endif %}

      {{ page.summary | safe }}
    </div>

    <div>
      <a class="link-body-emphasis" href="{{ page.path | safe }}">Read&nbsp;more&nbsp;…</a>

      <hr />
      {{ post::info_index(page=page) }}
    </div>
  </section>
{% endfor %}

  {{ pagination::pagination(paginator=paginator) }}

{% endblock content %}

