{%- import 'macros/post.html' as post -%}

{% extends "base.html" %}

{% block content %}

{% for page in paginator.pages %}
  <section itemscope itemtype="http://schema.org/BlogPosting">
    <h2>
      <a class="link-body-emphasis link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </h2>

    <div itemprop="articleSummary">
      {{ page.summary | safe }}
    </div>

    {{ post::info(page=page, more=true) }}
  </section>
{% endfor %}

  <nav class="" role="navigation" aria-label="pagination">

    <ul class="pagination">
      <li class="page-item {% if not paginator.previous %}disabled{% endif %}">
        <a class="page-link" {% if paginator.previous %}href='{{ paginator.previous }}' {% endif %}>Previous</a>
      </li>

      {% for i in range(end=paginator.number_pagers) %}
      <li class="page-item">
        <a
            href="{{ paginator.base_url}}{{i+1}}"
            class="page-link {% if paginator.current_index == i + 1 %}active{% endif %}" {% if paginator.current_index == i + 1 %}aria-current="page"{% endif %} aria-label="Page {{ i + 1 }}" aria-current="page">{{ i + 1}}</a>
      </li>
      {% endfor %}

      <li class="page-item {% if not paginator.next %}disabled{% endif %}">
        <a class="page-link" {% if paginator.next %}href='{{ paginator.next }}'{% endif %}>Next</a>
      </li>
    </ul>


  </nav>

{% endblock content %}

{% block rightside %}
<div class="de-sidebox">
  <h3>Archive</h3>
  <ul class="list-unstyled">
    {% set all_content = get_section(path="_index.md") %}
    {% for year, posts in all_content.pages | group_by(attribute="year") %}
    <li><h4>{{ year }}</h4>
      <ul class="list-unstyled">
        {% for post in posts %}
        <li class="text-truncate"><a class="link-body-emphasis" href="{{ post.permalink }}" title="{{ post.title }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock rightside %}
