/*
$body-color: #483c2b;
$body-bg: #fcf4e2;

$body-secondary-color: #483c2b;
$body-secondary-bg: #ffef97;

$body-tertiary-color: #483c2b;
$body-tertiary-bg: #ffe00a;

$code-color: darken(red, 30%);
*/

$themeMain: #ffe98a;
