// Bigger brand

.navbar-brand {
  font-weight: $headings-font-weight;
}

// try fluid images

.de-article__body img {
  @extend .img-fluid;
}

// header paragraphs

main {
  h2:after:hover,
  h3:after:hover,
  h4:after:hover,
  h5:after:hover {
    content: '§';
    color: var(--bs-tertiary-color);
    padding-left: 0.5rem;
  }
}

// footer

footer {
  font-size: 1rem;
}
