// Bigger brand

.navbar-brand {
  font-weight: $headings-font-weight;
}

// try fluid images

main img {
  @extend .img-fluid;
}

// header paragraphs

h1, h2, h3, h4, h5 {
  // color: var(--bs-secondary-color);
}

main {
  h2:after:hover,
  h3:after:hover,
  h4:after:hover,
  h5:after:hover {
    content: '§';
    color: var(--bs-tertiary-color);
    padding-left: 0.5rem;
  }
}

// footer

footer {
  font-size: 1rem;
}

main {
  font-family: $article-font-family, sans-serif;
  font-size: $article-font-size;
}
