
// navbar
$top-padding: 4rem;

// fonts
$font-family-sans-serif: "Jost";
$font-family-base: $font-family-sans-serif;

// font size
$font-size-base: 1.2rem;

// code
$font-family-code: "Source Code Pro";
$code-color: darken(red, 30%);

// headings
$headings-font-family: "Jost";
$headings-font-weight: 700;

$h1-font-size:                $font-size-base * 1.75 !default;
$h2-font-size:                $font-size-base * 1.5 !default;
$h3-font-size:                $font-size-base * 1.25 !default;
$h4-font-size:                $font-size-base * 1.125 !default;
$h5-font-size:                $font-size-base !default;
$h6-font-size:                $font-size-base !default;

// article (main content)
$article-font-family: "Noto Sans";
$article-font-size: 1.1rem;

// block quotes
$blockquote-font-size: $font-size-base !default;
